include *.json
include *.md
include *.sh
include *.toml
include *.yaml
include .flake8
include .readthedocs.yaml
include Dockerfile
include LICENSE
include docs/requirements.txt
include pytest.ini
include tox.ini
exclude .editorconfig
exclude .prettierignore
prune docs/_build
recursive-include cernopendata_client *.py
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.md
recursive-include tests *.py
